.sunnyslimes {
  position: absolute;
  color:black;
  background-color: white;
  border-radius: 10px;
  width:50%;
  height: 70%;
  right: 25%;
  left: 25%;
  top: 15%;
  bottom: 15%;
  opacity: 1;
  text-align: center;
}
.sunnyslimes::backdrop {
  background: rgb(211, 211, 211);
  opacity: .5;
}
subtitle {
  margin-bottom: 16px;
  text-align: center;
  color: var(--subtitle-font-color);
  font-style: italic;
  font-weight: bold;
}